

body {
    background-color:rgba(0, 0, 0, 0.94);
}

@media only screen and (min-width: 930px) {

    
    

    .feed .postImg_feed{

        position: absolute;
        
        left: 0;
        right: 0;
        margin: auto;

    }

    .feed .feedList{

        width: 40vw;

    }

    .feed {

        box-sizing: border-box;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        height: 100vh;
        max-width: 72vw;
        background-color: rgba(0, 0, 0, 0.86);

    }
}

@media only screen and (max-width: 930px) {

    .feed .Imagens{
        display: block;
        position: relative;
        margin: auto;
        margin-top: 20px;
        border: 2px solid white;
    }

    .feed .postUser{
        border: 2px solid white;
        display: inline-block;
        
        width: 20vw;
        position: relative;
     
        
        color: white;
        font-size: 1.5vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-align: center;

    }

    .feed .postMessage{
        border: 2px solid white;
        display: inline-block;
        position: relative;
        


        
        color: white;
        font-size: 2vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-align: center;
        

    }

    .feed .postImg_feed{
        
        position: inherit;
        display: inline-block;
        max-width: 50vw;
        max-height: 40vh;
        min-width: 200px;
        min-height: 200px;
        

    }

    .feed .feedList{


        position: absolute;
        
        left: 0;
        right: 0;
        

    }

    .feed {
        z-index: -1;
        overflow: scroll;
        display: block;
        position: fixed;

        height: 79vh;
        width: 100vw;
        background-color: rgb(15, 14, 14);
       
    }
}