.footer{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 98vh;
    min-width: 5vw;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    max-width: 14vw;
    transition: 0.3s;
}
.footer .mainMenu{
    display: block;
    position: absolute;
    max-height: 9vh;
    max-width: 9vw;
    bottom: 2vh;
    right: 2vw;
    cursor: pointer;
    transition: 0.3s;
}
.footer .addContent{
    display: block;
    position: absolute;
    max-height: 9vh;
    max-width: 9vw;
    top: 45vh;
    right: 2vw;
    cursor: pointer;
    transition: 0.3s;
}
.footer .search{
    display: block;
    position: absolute;
    max-height: 9vh;
    max-width: 9vw;
    top: 2vh;
    right: 2vw;
    cursor: pointer;
    transition: 0.3s;
}
@media only screen and (max-width: 930px) {}