
body {
    background-color:rgb(0, 0, 0);
}

.containerSearch {
    background-color: rgb(0, 0, 0);
    min-width: 350px;
    width: 60vw;
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 10px;
}

.containerSearch .defaultImg{
    max-width: 75px;
    cursor: pointer;
}

.containerSearch .searchAccount {
    max-width: 20vw;
    width: 20vw;
}

.containerSearch ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.containerSearch li {
    float: left;
}
.containerSearch p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}
.containerSearch .pesquisa{
    display: none;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 25px;
    border-top: 3px solid rgb(255, 255, 255);
}

.containerSearch .pesquisa .seguir{
    display: block;
    width: 7vw;
    font-size: small;
    padding: 5px;
    border-radius: 1em;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 1s;
    cursor: pointer;
    transition: 0.5s;
}

.containerSearch .pesquisa .seguir:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: white;
}
.containerSearch .pesquisa .Naoseguir{
    display: block;
    width: 11vw;
    font-size: small;
    padding: 5px;
    border-radius: 1em;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.5s;
    cursor: pointer;
    transition: 0.5s;
}

.containerSearch .pesquisa .Naoseguir:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: white;
}

.containerSearch .pesquisaResultado{
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    top: 125px;
    margin: auto;
    width: 20vw;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}


.containerSearch .submitUser{
    position: absolute;
    display: block;
    padding: 3px;
    width: 30vw;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
}
.profileImage{
    display: block;
    width: 50px;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 100px;
    margin-bottom: 10px;
}