.containerSearch {
    text-align: center;
    background-color: lightblue;
    width: 60vw;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

.containerSearch img {
    max-width: 75px;
    cursor: pointer;
}

.containerSearch .searchAccount {
    max-width: 20vw;
    width: 20vw;
}

.containerSearch ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.containerSearch li {
    float: left;
}
.containerSearch p{
    font-size: 25px;
}
.containerSearch .pesquisa{
    display: none;
    border-top: 3px solid black;
}